
*{margin: 0;
padding: 0;
box-sizing: border-box;
}


*:not(.imagen-diferenciales ){

	box-sizing: border-box;
	}

.logo-superior {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 100px;
    height: 120px;
	box-sizing: border-box;
  }
  
  .titulo-superior {
    padding-top: 25px;
	padding-left: 120px;
    font-size: 40px;
    color: #ccae88;
    display: inline-block;
  
  }

nav{
    background:  #1d1716;
    height: 100px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
.contenedor-menu ul{
    float: right;
    margin-right: 40px;
	margin-top: 10px;
	box-sizing: border-box;

}
.contenedor-menu ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.contenedor-menu ul li a{
    color: #ac8655;
    font-size: 18px;
	font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
	text-decoration: solid;

    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #302e2e;
  
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.main-contacto{
	margin-left: 1em;
}

.productos{
	
	margin: 0 auto;
	padding: 50px;
}

.productos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
    border: 2px solid #f3bc77;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000000;
}

.productos h2 {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.productos li:hover{
	border-color: #c78c19;
	
}

.productos li:active {
    border-color: #a55233;
    transform: scale(1.1);
}

.productos h2{
	font-size: 26px;
	font-weight: bold;
}

.productos li:hover h2{
	font-size: 29px;
}

.cabellobarba,
.cabello,
.barba {
    height: 250px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40%;
}

.producto-descripcion{
	font-size: 16px;
    color: #ffffff;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.producto-precio{
	font-size: 24px;
    text-align: center;
    color: #f3ff51;
    background: #9b8a75;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}


footer{
	text-align: center;
	background-color: #201d1b;
	padding: 40px;
	height: auto;
}


.logo {
    width: 100px;
    height: auto; 
    max-width: 100%;}

.copyright{
	color: white;
	font-size: 16px;
	margin: 20px;
}

/*-------- CSS PARA CONTACTO -------- */

form{
	margin: 40px 0;

}

form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padron{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	color: #201d1b;
    background: #a58f72;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover{
	background: #ac8655;
    transform: scale(1.1);
}

.tabla-contacto{
	margin: 40px 7%;
	position: relative;
}

thead{
	background: #99723f;
    color: #ffffff;
	font-weight: bold;
}
td, th{
	border: 1px solid #99723f;
    color: #ffffff;
	padding: 8px 15px;
	font-size: 18px;
}

/*------------ CSS PARA HOME ------------*/
.banner {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.87)), url(../imagenes/pexels-cottonbro-studio-3998421.jpg); 
	width: 100%;
	background-size: cover;
	padding: 5% 10%;
	box-sizing: border-box;
	color: #CCCCCC;
	display: flex;
	justify-content: center;
  }
  

.principal{
	padding: 2em 0;
	background: #ffffff;
	margin: 0 auto;
}

.contenido-principal{
	padding: 60px 50px;
}

.bienvenida {
	background-color: rgba(107, 85, 60, 0.356);
	display: inline-block;
	border-radius: 10px;
	font-weight: bold;
	margin-top: 5px;
	padding: 10px;
	font-size: 1.5vw;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.767);
	font-family: Arial, Helvetica, sans-serif;
	color: #f3bc77;
	white-space: nowrap;
}

.titulo-principal {
	color: #000000;
	text-align: center;
	font-size: 1.7em;
	margin: 0 0 1em;
	padding: 0.2em 0.5em;
	background-color: rgba(201, 166, 96, 0.527);
}



.titulo-principal-ubicacion{
	color: #ffffff;
    background-color: rgba(83, 75, 57, 0.671);
	text-align: center;
	font-size: 1.7em;
	margin: 0 0 1em;
	clear: left;	
}

.mapa p {
	color: #ffffff;
  }
  
.principal p{
	margin: 0 0 3em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa{
	padding: 3em 0;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.61)), url(../imagenes/pexels-pavel-danilyuk-7518736.jpg); 
	background-size: cover;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.mapa-contenido{
	width: 80%;
	height: 500px;
	margin: 0 auto;
	padding-bottom: 50px;
}


.btn-agenda {
    display: inline-block;
    padding: 24px;
    background-color: #ffdb3b;
    color: #201d1b;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
	box-sizing: border-box;
    border: 2px solid #252120;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000000;
    transition: background-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
   
  }
  
.btn-agenda:hover {
    transform: scale(1.1);
    border-color: #201d1b;
    cursor:pointer;
  }

.agendar{
    text-align: center;
    padding: 20px;
}

.diferenciales {
	
	padding: 3em 0;
	background-color: #ffffff;
  }
  
  .contenido-diferenciales {
	margin: 2em auto 0;
  }
  
  .lista-diferenciales {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 90px;
	text-align: left;
	
  }
  
  
  .items {
	line-height: 1.5;
	list-style: none;
  }
  
  .items:first-child {
	font-weight: bold;
  }
  
  .items:before {
	content: "★";
  }
  
  .imagen-diferenciales {
	width: 30%;
	transition: 400ms;
	box-shadow: 10px 10px 30px 10px black;
	margin-bottom: 30px;
	margin-left: 40px;
  }
  
  .imagen-diferenciales:hover {
	opacity: 0.3;
  }
  

.video{
	width: 640px;
	margin: 1.2em auto;
}


/* ---------- CSS RESPONSIVE --------- */

@media screen and (max-width: 952px){



	.principal, .mapa-contenido, .contenido-diferenciales, .video, .productos, .productos li, .enviar{
		width: auto;
		margin: 0 auto;
	}

	.principal p{
		
		font-size: 0.9em;
		text-align: justify;

	}
	
	.contenido-principal{
		padding: 5px 20px;
	     
	}


	.titulo-superior{
		margin-top: 10px;
		font-size: 30px;
	}


	.bienvenida {
		font-size: 3vw; /* Ajusta el tamaño de la letra según tus necesidades */
	}

	.tabla-contacto{
		margin: 10% 0;
	}

	.mapa-contenido{
		padding-bottom: 10px;
	}

	.mapa{
		padding-bottom: 0;

	}

	.agendar{
		padding-bottom: 30px;
	}

	.btn-agenda{
		padding: 18px;
	}
	
	.contenido-diferenciales {
		margin: 2em auto 0;
	  }
	
	  .lista-diferenciales {
		
	
		text-align: left;
		margin-bottom: 30px;
	  }
	  
	  .imagen-diferenciales {
	
		width: 200px;
		float: right;
		margin: 0 20px 20px 0;
	  

	
	

	}


	@media (max-width: 952px){
		.enlace{
			padding-right: 20px;
		}
		.contenedor-menu ul li a{
			font-size: 16px;
		}
	}
	
	@media (max-width: 858px){
		.checkbtn{
			padding-top: 15px;
			display: block;
		}
		.lista-menu{
			position: fixed;
			width: 100%;
			height: 100vh;
			background: #463b34;
			top: 80px;
			right: -120%;
			text-align: center;
			transition: all .5s;
		}
		.contenedor-menu ul li{
			display: block;
			margin: 50px 0;
			line-height: 30px;
		}
		.contenedor-menu ul li a{
			font-size: 20px;
		}
		li a:hover, li a.active{
			background: none;
			color: #252120;
		}
		#check:checked ~ ul{
			left:0;
		}
	}}
